body{
  padding: 0;
  font-family: sans-serif;
  background: url(media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
  margin: 0;
}

.main{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.scrolldowntext{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 94%;
  left: 47.7%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.undertext{
  position: absolute;
  top: 75%;
  font-size: .75em;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto:300', sans-serif;
  line-height: 130%;
  white-space: nowrap;:
}

.maintext{
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}



.line-separatortop{
  height: 1px;
  background: #9e9898;
  border-bottom: 1px solid #313030;
  position: relative;
  top: 23px;
  margin: 0 auto;
  width: 80%;
}



.line-separatorbotl{
  height: 1px;
  background: #9e9898;
  border-bottom: 1px solid #313030;
  position: absolute;
  left: 10%;
  margin: 0 auto;
  width: 34%;
  bottom: 24px;
}

.line-separatorbotr{
  height: 1px;
  background: #9e9898;
  border-bottom: 1px solid #313030;
  position: absolute;
  right: 10%;
  margin: 0 auto;
  width: 36.4%;
  bottom: 23px;
}
